<!DOCTYPE html>
<html lang="en">
<body>
<div class="navbar">
  <a href="<%= root_path %>">Home</a>
  <a href="<%= about_path %>">About</a>
  <a href="<%= articles_path %>" class="right">Alpha Blog</a>
</div>
</body>
</html>
