<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="https://alpha-blog-sogyal.herokuapp.com/">AlphaBlog</a>
    by <a href="https://alpha-blog-sogyal.herokuapp.com/">Sogyal Sherpa</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>